{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load humanize %}
    <div class="row">
        <div class="span3">
            <img src="{% static 'images/logo.jpg' %}">
        </div>
        <div class="span9">
            <section class="page-header text-center">
                <h4>
                Centro de Diagnóstico y Médico Hospitalario
                <br />
                <small>
                    Colonia el Quiquiste, Contiguo a Fábrica de Tábacos Internacional Colombus <br />
                    Danli, El Paraíso, Tel 27632121
                </small>
                </h4>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="span3">
            <h5>Recibo {{ recibo.numero }}</h5>
        </div>
        <div class="span3 offset6 text-right">
            <h5>Por L. {{ recibo.total }}</h5>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <p>
                Recibí de {{ recibo.cliente }},
                <br> la cantidad de {{  recibo.integer|intword }} Lempiras
                con {{ recibo.fractional|intword }} centavos,
                <br />por concepto de  {% for venta in recibo.ventas.all %} {{ venta.cantidad }} {{ venta.item }} {% endfor %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="span6 offset6 text-right">
            <br />
            <br />
            Danlí, {{ recibo.created }}
        </div>
    </div>
    <div class="row">
        <div class="span12 text-center">
            <br />
            <br />
            <br />
            Firma
        </div>
    </div>
{% endblock %}
