{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load humanize %}
    <div class="row">
        <div class="span3">

        </div>
        <div class="span6">
            <section class="page-header text-center">
                <h1>
                    Centro de Diagnóstico y Médico Hospitalario
                    <small>
                        Colonia el Quiquisque , Contiguo a Fábrica de Tábacos Internacional Colombus <br />
                        Danli, El Paraíso, Tel 27632121
                    </small>
                </h1>
            </section>
        </div>
        <div class="span3">
            <h2>Por L. {{ recibo.total }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <p>
                Recibí de {{ recibo.cliente }}, la cantidad de {{  recibo.integer|intword }} Lempiras
                con {{ recibo.fractional|intword }} centavos, por concepto de
                {% for venta in recibo.ventas %}
                    {{ venta.item }}
                {% endfor %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="span6 offset6">
            Danlí, {{ recibo.created }}
        </div>
    </div>
    <div class="row">
        <div class="span12 text-center">
            Firma
        </div>
    </div>
{% endblock %}
